<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126417024929-86v6a04nfoquh2bvkqlev1e3ujb30kf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126417024929-86v6a04nfoquh2bvkqlev1e3ujb30kf6</string>
	<key>API_KEY</key>
	<string>AIzaSyDvwy_apd4pi5ec_oZxKCafKWQSu8MiZl4</string>
	<key>GCM_SENDER_ID</key>
	<string>126417024929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp</string>
	<key>PROJECT_ID</key>
	<string>herrera-tema21-push-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>herrera-tema21-push-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126417024929:ios:3b3e413e0f20f7a36abde0</string>
</dict>
</plist>